<template>
    <div>
        <v-card title="Curso Hapkido!" class="mx-12 my-2 px-2 py-2">
            <v-row class="text-left">
                <v-col class="text-center">
                    <p>{{ program.title }}</p>
                    <p>Nivel: {{ program.level }}</p>
                </v-col>
            </v-row>

            <v-row class="text-center">
                <v-col>
                    <BackButton></BackButton>
                </v-col>
            </v-row>
        </v-card>

        <GroupComponent :program="program" :group="group"></GroupComponent>
    </div>
</template>
  
<script lang="ts">
import { defineComponent } from 'vue'
import { Group } from '@/models/Group'
import { Program } from '@/models/Program'
import { RouteParams } from 'vue-router'
import DataService from '@/services/DataService'
import GroupComponent from '@/components/GroupComponent.vue'
import BackButton from '@/components/BackButton.vue'

const service = new DataService()

export default defineComponent({
    name: 'GroupView',
    components: {
        GroupComponent,
        BackButton
    },
    data() {
        return {
            program: {} as Program,
            group: {} as Group,
        };
    },
    created() {
        const { programId, groupId } = this.$route.params as RouteParams;

        this.program = service.getProgram(programId as string)
        this.group = this.program.groups.find(x => x.id === groupId) as Group
    },
})
</script>