<template>
  <v-card title="Curso Hapkido!" class="mx-12 my-2 px-2 py-2">
    <v-row>
      <v-col class="text-center">
        <p>Selecciona un nivel:</p>
        <ul>
          <li v-for="program in programs" :key="program.id">
            <router-link :to="{ name: 'program', params: { programId: program.id } }">
              <v-btn variant="flat">{{ program.title }}</v-btn>
            </router-link>
          </li>
        </ul>
      </v-col>
    </v-row>
  </v-card>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import DataService from '@/services/DataService'
import { Program } from '@/models/Program'

let service = new DataService()

export default defineComponent({
  name: 'HomeView',
  data() {
    return {
      programs: {} as Array<Program>
    }
  },
  components: {},
  methods: {},
  async created() {
    this.programs = service.getPrograms()
  }
})
</script>