<template>
    <div>
        <v-card title="Curso Hapkido!" class="mx-12 my-2 px-2 py-2">
            <v-row class="text-left">
                <v-col class="text-center">
                    <p>{{ program.title }}</p>
                    <p>Nivel: {{ program.level }}</p>
                </v-col>
            </v-row>

            <v-row class="text-center">
                <v-col>
                    <BackButton></BackButton>
                </v-col>
            </v-row>
        </v-card>

        <v-card class="mx-12 my-2 px-2 py-2">
            <GroupList :groups="program.groups"></GroupList>
        </v-card>
    </div>
</template>
  
<script lang="ts">
import { defineComponent } from 'vue'
import { Program } from '@/models/Program'
import { RouteParams } from 'vue-router'
import Programs from '@/data/Programs'
import GroupList from '@/components/GroupList.vue'
import BackButton from '@/components/BackButton.vue'

export default defineComponent({
    name: 'ProgramView',
    components: {
        GroupList,
        BackButton
    },
    data() {
        return {
            program: {} as Program,
        };
    },
    created() {
        const { programId } = this.$route.params as RouteParams;
        this.program = Programs.find(x => x.id === programId) as Program
    },
})
</script>