<template>
  <div>
    <v-card title="Curso Hapkido!" class="mx-12 my-2 px-2 py-2">
      <v-row class="text-left">
        <v-col class="text-center">
          <p>{{ program.title }}</p>
          <p>Nivel: {{ program.level }}</p>
        </v-col>
      </v-row>

      <v-row class="text-center">
        <v-col>
          <BackButton></BackButton>
        </v-col>
      </v-row>
    </v-card>

    <v-card :title="`Grupo ` + group.title" :subtitle="group.description" class="mx-12 my-2 px-2 py-2"></v-card>

    <SubgroupComponent :subgroup="subgroup"></SubgroupComponent>
  </div>
</template>
  
<script lang="ts">
import { defineComponent } from 'vue'
import { Group } from '@/models/Group';
import { RouteParams } from 'vue-router';
import { Program } from '@/models/Program';
import SubgroupComponent from '@/components/SubgroupComponent.vue'
import BackButton from '@/components/BackButton.vue';
import { Subgroup } from '@/models/Subgroup';
import DataService from '@/services/DataService'

const service = new DataService()

export default defineComponent({
  name: 'SubgroupView',
  components: {
    SubgroupComponent,
    BackButton
  },
  data() {
    return {
      program: {} as Program,
      group: {} as Group,
      subgroup: {} as Subgroup
    };
  },
  created() {
    const { programId, groupId, subgroupId } = this.$route.params as RouteParams;

    this.program = service.getProgram(programId as string)
    this.group = this.program.groups.find(x => x.id === groupId) as Group
    this.subgroup = this.group.subgroups?.find(x => x.id === subgroupId) as Subgroup
  },
})
</script>