<template>
    <div>
      <h3>{{ technique }}</h3>
      <p>{{ description }}</p>
    </div>
  </template>
  
  <script lang="ts">
  import { defineComponent } from 'vue'
  
  export default defineComponent({
    name: 'TechniqueView',
    props: {
      technique: {
        type: String,
        required: true
      },
      description: {
        type: String,
        required: true
      }
    }
  })
  </script>