<template>
    <v-btn @click="goBack">{{ label }}</v-btn>
</template>
  
<script lang="ts">
import { useRouter } from 'vue-router';

export default {
    props: {
        label: {
            type: String,
            default: 'Volver'
        }
    },

    setup() {
        const router = useRouter()

        const goBack = () => {
            router.go(-1)
        }

        return {
            goBack
        }
    }
};
</script>
  