<template>
  <div>
    <v-card :title="`Grupo ` + group.title" :subtitle="group.description" class="mx-12 my-2 px-2 py-2">
      <v-row class="text-left">
        <v-col class="text-left">
          <TechniqueList :techniques="group.techniques"></TechniqueList>
        </v-col>
      </v-row>

      <v-row class="text-center">
        <v-col>
          <SubgroupList :programId="program.id" :groupId="group.id" :subgroups="group.subgroups || []"></SubgroupList>
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>
  
<script lang="ts">
import { defineComponent } from 'vue'
import { Group } from '@/models/Group'
import { Program } from '@/models/Program'
import TechniqueList from '@/components/TechniqueList.vue'
import SubgroupList from '@/components/SubgroupList.vue'

export default defineComponent({
  name: 'GroupComponent',
  components: {
    SubgroupList,
    TechniqueList
  },
  props: {
    program: {
      type: Object as () => Program,
      required: true
    },
    group: {
      type: Object as () => Group,
      required: true
    }
  },
  data() {
    return {}
  }
})
</script>