<template>
  <div>
    <h2>Grupos:</h2>
    <ul>
      <li v-for="(group, index) in groups" :key="group.id">
        <router-link :to="{ name: 'group', params: { groupId: group.id } }">
          <v-btn variant="flat">{{ index + 1 }} - {{ group.title }} </v-btn>
        </router-link>
      </li>
    </ul>
  </div>
</template>
  
<script lang="ts">
import { defineComponent } from 'vue'
import { Group } from '@/models/Group'

export default defineComponent({
  name: 'GroupList',
  props: {
    groups: {
      type: Array as () => Group[],
      required: true
    }
  },
  data() {
    return {}
  }
})
</script>