<template>
    <nav class="navstyle">
        <router-link to="/">Home</router-link> |
        <router-link to="/about">About</router-link>
    </nav>
    <v-divider></v-divider>
</template>
  
<script lang="ts">
export default {
    name: 'NavBar',
    props: {
        appName: {
            type: String,
            default: 'My App'
        }
    },
    data() {
        return {
            isNavbarOpen: false
        }
    }
}
</script>
  
<style>
/* Styles for navbar go here */
.navstyle {
    padding: 1em
}
</style>