<template>
  <div v-if="!!subgroups && subgroups.length > 0" class="text-left">
    <h3 style="padding-left: 1em">Subgrupos de técnicas</h3>
    <ul>
      <li v-for="(subgroup, index) in subgroups" :key="subgroup.id">
        <router-link
          :to="{ name: 'subgroup', params: { programId: programId, groupId: groupId, subgroupId: subgroup.id } }">
          <v-btn variant="flat">{{ index + 1 }} - {{ subgroup.title }} </v-btn>
        </router-link>
        <p>{{ subgroup.description }}</p>
      </li>
    </ul>
  </div>
</template>
  
<script lang="ts">
import { defineComponent } from 'vue'
import { Subgroup } from '@/models/Subgroup'

export default defineComponent({
  name: 'SubgroupList',
  props: {
    programId: {
      type: String,
      required: true
    },
    groupId: {
      type: String,
      required: true
    },
    subgroups: {
      type: Array as () => Subgroup[],
      required: true
    }
  }
})
</script>