<template>
  <!-- <div>
      <h3>Subgrupo: {{ subgroup.title }}</h3>
      <p>{{ subgroup.description }}</p>
      
      <TechniqueList :techniques="subgroup.techniques"></TechniqueList>
    </div> -->
  <div>
    <v-card :title="`Subgrupo ` + subgroup.title" :subtitle="subgroup.description" class="mx-12 my-2 px-2 py-2">
      <v-row class="text-left">
        <v-col class="text-left">
          <TechniqueList :techniques="subgroup.techniques"></TechniqueList>
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>
  
<script lang="ts">
import { defineComponent } from 'vue'
import { Subgroup } from '@/models/Subgroup'
import TechniqueList from './TechniqueList.vue'

export default defineComponent({
  name: 'SubgroupComponent',
  components: {
    TechniqueList
  },
  props: {
    subgroup: {
      type: Object as () => Subgroup,
      required: true
    }
  }
})
</script>