<template>
    <div v-if="techniques.length > 0">
        <h4 style="padding-left: 1em">Técnicas:</h4>
        <ul>
            <li v-for="(technique, index) in techniques" :key="technique.description">
                <p class="mx-4">{{ index + 1 }} - {{ technique.description }}</p>
            </li>
        </ul>
    </div>
</template>
  
<script lang="ts">
import { defineComponent } from 'vue'
import { Technique } from '@/models/Technique'

export default defineComponent({
    name: 'TechniqueList',
    props: {
        techniques: {
            type: Object as () => Technique[],
            required: true
        }
    },
    data() {
        return {}
    }
});
</script>